html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #2E2F38;
}

* {
  box-sizing: border-box;
}
.section-cont{
  margin-top: 5em;
}
.container-main{
  background-color: #2E2F38;
  padding-top: 10vh;
}
.sec-header-text{
  color: #E7E7E7;
}
.sec-content-container{
  color: #E7E7E7;
  display: flex;
}
.sec-right-container{
  color: #E7E7E7;
  display: flex;
  justify-content: flex-end;
}
.sec-center-container{
  display: flex;
  justify-content: center;
  flex: 1;
  margin-bottom: 0.4%;
}
.circle-svg{
  position: relative;
  z-index: 4;
}
.center-column{
  display: flex;
  flex-direction: column;
  flex:1;
}
.title-left-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.title-right-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title-text-left-lg{
  font-size: large;
  color: #E7E7E7;
  text-align: right;
}
.title-text-right-lg{
  font-size: large;
  color: #E7E7E7;
  text-align: left;
}
.title-text-left-sm{
  font-size: small;
  color: #EE16E5;
  text-align: right;
}
.title-text-right-sm{
  font-size: small;
  color: #EE16E5;
  text-align: left;
}
.text-paragraph-left{
  font-size: smaller;
  color: #E7E7E7;
  text-align: right;
  margin-top: 2em;
  margin-bottom: 3em;
}
.text-paragraph-right{
  font-size: smaller;
  color: #E7E7E7;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 3em;
}
.bubble-left{
  position: relative;
	background: #21232D;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
  padding: .7vw;
  display: flex;
  justify-content: center;
}
.bubble-left::after{
  content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 1.063em solid transparent;
	border-right-color: #21232D;
	border-left: 0;
	margin-top: -1.062em;
	margin-left: -0.640em;
}
.bubble-right{
  position: relative;
	background: #21232D;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
  padding: .7vw;
  display: flex;
  justify-content: center;
}
.bubble-right::after{
  content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 1.063em solid transparent;
	border-left-color: #21232D;
	border-right: 0;
	margin-top: -1.062em;
	margin-right: -0.640em;
}
.bubble-text{
  font-size: 100%;
  color: #E7E7E7;
  text-transform: uppercase;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: .2em;
  text-align: center;
}
.vertical-line{
  width: 1px; 
  background-color: #21232D; 
  height: 100%;
  margin-top: 1%;
  position: relative;
  z-index: 20;
}
.navbar-bg{
  background-color: #0B0C17 ;
}

.active > div{
  color: #EE16E5;
}
.nav-link > span {
  color: #E7E7E7;
}

.nav-item > .nav-link > span:hover {
  color: #979797;
}

.navbar-brand > span {
  color: #EE16E5;
  font-size: 100%;
}

.footer-bg{
  background-color: #0B0C17;
}

.footer-text{
  font-size: smaller;
  color: #E7E7E7;
  margin-top: 5%;
}

.copyright-text{
  font-size: x-small;
  color: #E7E7E7;
}

.footer{
  position: absolute;
  background-color: #0B0C17;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: inherit; 
  padding-top: 1rem;
}

.home-header-container{
  background-color: #030510;
  height: auto;
  padding-top: 120px;
  padding-bottom: 60px;
}

h5.heading-text{
  font-size: medium;
  color: #E7E7E7;
}

.heading-text-sm{
  font-size: small;
  color: #E7E7E7;
  text-transform: uppercase;
}

h1.heading{
  color: #ffffff;
}

.hypen-lg{
  margin-right: 10px;
  color: #EE16E5;
}

.home-main{
  background-color: #22232D;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.prof-img{
  height: 50px;
  width: 100px;
}

.page-content{
  position: relative;
  min-height: 100vh;
  background-color: #2E2F38;
  overflow: auto;
  display: block;
  padding-bottom: 23vh;
}

.section-container-lg{
  background-color: #2D2E37;
  margin-top: 1.5rem;
  padding-bottom: 1%;
  padding-top: 1%;
}

.section-container-title{
  color: #E7E7E7;
}

.section-container-text{
  color: #E7E7E7;
  font-size: smaller;
}

.contact-item{
  background-color: #2D2E37;
  padding-top: 2%;
  padding-bottom: 1%;
}

.contact-item-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.contact-item-text{
  font-size: small;
  font-weight: bold;
  color: #E7E7E7;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  
}
.sec{
  padding-bottom: 0.5vh;
}

.skill-box{
  background-color: #21232D;
  padding: 1%;
  color: #E7E7E7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
}

.skill-box-text{
  color: #E7E7E7;
  font-size: medium;
  font-weight: bold;
  text-align: center;
}

.profile-img{
  display: block;
  object-fit: contain;
  filter: drop-shadow(-1px 11px 20px rgba(0, 0, 0, 0.25));
}

